rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function ehAdmin() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    function inscricoesAbertas() {
      let existeConfig = exists(/databases/$(database)/documents/config/site);
      return !existeConfig ||
        !("dataEncerramento" in get(/databases/$(database)/documents/config/site).data) ||
        request.time < timestamp(get(/databases/$(database)/documents/config/site).data.dataEncerramento);
    }

    match /turmas/{turmaId} {
      allow read: if true;
      allow write: if ehAdmin();
    }

    match /jogos/{jogoId} {
      allow read: if true;
      allow write: if ehAdmin();
    }

    match /inscricoes/{inscricaoId} {
      allow create: if inscricoesAbertas();
      allow read: if request.auth != null &&
        (resource.data.authUid == request.auth.uid || ehAdmin());
      allow update, delete: if ehAdmin();
    }

    match /contadores/{docId} {
      allow read, write: if ehAdmin();
    }

    match /config/{docId} {
      allow read: if true;
      allow write: if ehAdmin();
    }

    match /admins/{adminId} {
      allow read, write: if false;
    }
  }
}
